:root {
  --pink-color-website: #fd0282;
  --green-color-website: #15968e;
  --blue-color-website: #5271ff;
  --background-color-website: #f0f0f0;
  --background-color-footer: #839376;
  --text-color: #242526;
  --heading-font-family: "Saira Extra Condensed", sans-serif;
  --default-font-family: "Zilla Slab", serif;
}

body {
  background-color: var(--background-color-website);
}

.hero {
  text-align: center;
  padding: 140px 20px 20px 20px;
}

h1 {
  color: var(--blue-color-website);
  font-size: 40px;
}
h2 {
  font-family: var(--heading-font-family);
  color: var(--text-color);
  font-weight: bold;
  font-size: 50px;
  padding: 20px 0px;
}
h3 {
  font-family: var(--default-font-family);
  font-size: 12px;
  padding: 15px 10px 15px 10px;
  color: var(--background-color-website);
}
h4 {
  font-family: var(--default-font-family);
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 200;
  color: var(--background-color-website);
}
p {
  font-family: var(--default-font-family);
  font-size: 15px;
  color: var(--text-color);
  text-align: justify;
}
hr {
  margin: auto;
  text-align: center;
  max-width: 50%;
  color: var(--background-color-website);
  opacity: 1;
}

.col-sm {
  padding: 0px;
}
.container-text-home {
  margin: 30px 50px;
}
.col-md-6 {
  padding: 0px 20px;
}
.quote {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: var(--blue-color-website);
  padding: 0px 30px 0px 30px;
  margin: 0px;
}
.footer {
  background-color: var(--background-color-footer);
  margin-top: 30px;
}
.logo-footer {
  padding: 20px;
  margin: auto;
  max-width: 130px;
  color: var(--background-color-website);
}
.d-flex {
  gap: 30px;
  color: var(--background-color-website);
  padding-bottom: 20px;
  font-size: 13px;
}
.fab {
  color: var(--background-color-website);
}

@media (max-width: 960px) {
  .quote {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 35px;
  }
  p {
    text-align: center;
    font-size: 14px;
  }
  .d-flex {
    padding-bottom: 10px;
  }
}
